/* #region  ------------------------------------------   Variables  ----------------------------*/
// couleurs principales du site
$color-n1:#4E5166;
$color-n2:#FD2D01;
$color-n3:#FFD7D7;


// autres couleurs : couleurs dérivées, back-grounds grisés etc
$color-n1-light: lighten($color-n1,60%) ;
$color-n3-light: lighten($color-n3,35%) ;
$color-n4:#f0f0fd;


// map des breakpoints (utilisée dans mixin mediaqueries)
$breakpoints:(
    screen-xs: 320px,    
    screen-s:  576px,
    screen-m:  768px,
    screen-l:  992px,
    screen-xl: 1200px,
    screen-xxl:1440px
);
/* #endregion  ---------------------------------------   Variables  ----------------------------*/
