@import "../../../styles/variables.scss";

.post-card {
    max-width: 800px;
    margin: auto;
    margin-top: 2rem ;

    &__header {
        display: flex;
        button:hover {
            background-color: $color-n3;
        }
    }
}

.comment__item {
    display: flex;
    margin-top: 1rem;
}

.comment__form{
    width: 100%;
    margin-left: 1rem;
}
.app-comment__form{
    width: 100%;
}

mat-card-actions button:hover {
    color:$color-n3;
}