.user-details {
    margin-bottom: 5rem ;
}
.example-card {
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    margin-top: 2rem ;
  }
  
.avatar-container {
    display: flex;
    margin: auto;
    max-width: 100%;
    // ICIJCO :voir poruquoi varibale non reconnue !
    background-color: #4E5166;
    padding: 0.5rem;
}
.img-avatar {
    display: flex;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

// .header-card {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     max-width: 100%;
// }

.user-card__name {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 500
}
li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.user-card__liste-item {
    margin-left: 1.5rem;
}
//ICIJCO - à virer après fin des travaux
.en-travaux {
    width: 250px;
}
.comment-card {
    margin-top: 1rem;
    max-width: 90%;
    background-color:#f0f0fd;
    margin-left: 1rem;
    // display: inline-block;
}