<form [formGroup]="passwordForm" (ngSubmit)="onEditedUserSubmit()">

    <mat-form-field appearance="outline">
        <mat-label> ancien mot de passe </mat-label>
        <input matInput formControlName="oldPassword" required [type]="hideOldPassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hideOldPassword  = !hideOldPassword " [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
            {{hideOldPassword  ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="passwordForm.controls.oldPassword.invalid">{{getErrorMessagePassword()}}</mat-error>
        
    </mat-form-field>
    
    <mat-error class="mat-error__samePassword" *ngIf="(passwordForm.valid && (passwordForm.get('oldPassword')!.value == passwordForm.get('password')!.value))">
        les mots de passe doivent être différents
    </mat-error>

    <mat-form-field appearance="outline">
        <mat-label> nouveau mot de passe </mat-label>
        <input matInput formControlName="password" required [type]="hidePassword  ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            {{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="passwordForm.controls.password.invalid">{{getErrorMessagePassword()}}</mat-error> 
    </mat-form-field>
        

    <button mat-raised-button color="primary" type="submit" title="enregistrer le mot de passe" [disabled]="(!passwordForm.valid || (passwordForm.get('oldPassword')!.value == passwordForm.get('password')!.value))" > Enregistrer </button>
</form>

<mat-error *ngIf="errorMsgSubmit">{{ errorMsgSubmit }}</mat-error>

