<!----------------------------      fenetre de dialogue pour edition des données de l'utilisateur   ---------------->

<div class="editUser-tab-title"> 
    <h2> {{titre}}</h2>
    <span class="spacer"></span>
    <button mat-icon-button alt="fermer la fenetre" title="fermer" (click)="close()">
        <mat-icon>clear</mat-icon>
    </button>
</div>


<mat-tab-group color=primary dynamicHeight fitInkBarToContent class="editUser-tab">

    <!-------------------------- Profil ------------------------>
    <mat-tab>
        <ng-template mat-tab-label class="editUser-tab__label">
            <mat-icon class="editUser-tab__label-icone">person</mat-icon>
            <span class="editUser-tab__label-text"> Profil </span>
        </ng-template>
        <app-user-profile-form [editedUser] = "editedUser" class="editUser-tab__content"> </app-user-profile-form>
    </mat-tab>

    <!--------------------------- Email ------------------------>
    <mat-tab>
        <ng-template mat-tab-label class="editUser-tab__label">
            <mat-icon class="editUser-tab__label-icone">email</mat-icon>
            <span class="editUser-tab__label-text"> Email </span>
        </ng-template>
        <app-user-email-form [editedUser] = "editedUser" class="editUser-tab__content"> </app-user-email-form>
    </mat-tab>

    <!----------------------- mot de passe ---------------------->
    <mat-tab>
        <ng-template mat-tab-label class="editUser-tab__label">
            <mat-icon class="editUser-tab__label-icone">key</mat-icon>
            <span class="editUser-tab__label-text"> Mot de passe </span>
        </ng-template>
         <app-user-password-form [editedUser] = "editedUser" class="editUser-tab__content"> </app-user-password-form>
    </mat-tab>
 
    <!--------------------supression du compte  ------------------>
    <mat-tab>
        <ng-template mat-tab-label class="editUser-tab__label">
            <mat-icon class="editUser-tab-label__icone">delete_forever</mat-icon>
            <span class="editUser-tab__label-text"> Compte </span>
        </ng-template>
        <div class="editUser-tab__content"> 
            <button mat-raised-button color="primary" type="button" title="supprimer" alt="supprimer" (click)="openDialogDelete()">
                <mat-icon>delete</mat-icon>
                <span> Supprimer le compte</span>
            </button>
        </div>
    </mat-tab>

  </mat-tab-group>
