<!------------------    boite de dialogue muitualisée de demande de confirmation de suppression  --------->

<h2 mat-dialog-title *ngIf="elementType !='compte'"> Supprimer un {{elementType}} </h2>
<h3 mat-dialog-title *ngIf="elementType =='compte'"> Supprimer votre compte </h3>

<mat-dialog-content *ngIf="elementType =='compte'">

    <p> Voulez vous vraiment supprimer votre compte ? </p>
    <p> Cela entrainera la supression de tous les posts, commentaires et likes associés.  </p>
    <p> Vous serez déconnecté et devrez recréer un compte pour accéder à nouveau au réseau social.</p>
    
</mat-dialog-content>

<mat-dialog-content *ngIf="elementType =='utilisateur'">

    <p> Voulez vous vraiment supprimer cet utilisateur ? </p>
    <p> Cela entrainera la supression de tous les posts, commentaires et likes associés.  </p>
    
</mat-dialog-content>

<mat-dialog-content *ngIf="elementType == 'post' || 'commentaire'">

    <p> Voulez vous vraiment supprimer ce {{elementType}} ? </p>
    <p *ngIf="elementType =='post'">  Cela entrainera la supression de tous les commentaires et likes associés.  </p>
    
</mat-dialog-content>

<mat-dialog-actions >
    <button class="mat-raised-button mat-primary" (click)="cancel()">Conserver</button>
    <span class="spacer"></span>
    <button class="mat-raised-button mat-accent"(click)="delete()">Supprimer</button>
</mat-dialog-actions>
