
<!-- <p>posts-list works!</p> -->
<header>
    <app-toolbar></app-toolbar>
</header>

<section class="post-creation" *ngIf="!isLoading">
    <mat-card class="example-card post-creation__card" >
        <app-header-card-users-info [userId] ="userId"> </app-header-card-users-info>
        <app-post-form [postsExt]= "postsExt" class = "app-comment__form">  </app-post-form>    
      </mat-card>
</section>


<section class="posts-list">
    <div @animFromRight *ngFor="let postExt of postsExt" >
        <app-post [postsExt]= "postsExt" [postExt]= "postExt"  [userIsAdmin] = "userIsAdmin"  [userId]="userId"> </app-post>
    </div>
</section>

<mat-paginator [length]="totalRows"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25]"
              (page)="managePageEvent($event)"
              aria-label="Sélectionner une page">
</mat-paginator>