.post-creation {
    margin-top: 2rem ;
    margin-bottom: 4rem ;

    &__card {
        max-width: 800px;
        margin: auto;
        margin-top: 2rem ;
        border: 2px solid #5f637d;
        border-radius: 30px;
    
    }
}